<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘뭐먹지</title>
</head>

<body>
    <p>logo</p>
    <p>title</p>

    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile">
    </div>

    <div class="content">
        <p>blabla</p>
        <button>수정</button>
    </div>

</body>

</html>
