<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘뭐먹지</title>

</head>

<body>
    <div>
        <p>logo</p>
    </div>

    <div>
        <p>login</p>
    </div>

    <div>
        <div>
            <h3>한식</h3>
            <div>
                <img src="../static/korean.jpg" alt="">
                <p>김치찌개</p>
            </div>
        </div>
    </div>

    <div>
        <div>
            <h3>일식</h3>
            <div>
                <img src="../static/japanese.jpg" alt="">
                <p>초밥</p>
            </div>
        </div>
    </div>

    <div>
        <div>
            <h3>중식</h3>
            <div>
                <img src="../static/chinese.jpg" alt="">
                <p>짜장면</p>
            </div>
        </div>
    </div>

    <div>
        <div>
            <h3>양식</h3>
            <div>
                <img src="../static/western.jpg" alt="">
                <p>스파게티</p>
            </div>
        </div>
    </div>


</body>

</html>
