<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘뭐먹지</title>

</head>

<body>
    <div>
        <p>logo</p>
    </div>

    <div>
        <p>login</p>
    </div>

    <div>
        <div>
            <h3>한식</h3>
            <div>
                <a href="{{ url_for('recipe')}}">
                    <img src="{{ url_for('static', filename='korean.jpg')}}" alt="">
                    <p>김치찌개</p>
                </a>
            </div>
        </div>
    </div>

    <div>
        <div>
            <h3>일식</h3>
            <div>
                <a href="{{ url_for('recipe')}}">
                    <img src="{{ url_for('static', filename='japanese.jpg') }}" alt="">
                    <p>초밥</p>
                </a>
            </div>
        </div>
    </div>

    <div>
        <div>
            <h3>중식</h3>
            <div>
                <a href="{{ url_for('recipe')}}">
                    <img src="{{ url_for('static', filename='chinese.jpg') }}" alt="">
                    <p>짜장면</p>
                </a>
            </div>
        </div>
    </div>

    <div>
        <div>
            <h3>양식</h3>
            <div>
                <a href="{{ url_for('recipe')}}">
                    <img src="{{ url_for('static', filename='western.jpg') }}" alt="">
                    <p>스파게티</p>
                </a>
            </div>
        </div>
    </div>


    <!-- <script>
        function get_recipe()
    </script> -->

</body>

</html>
