<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘뭐먹지</title>
</head>

<body>
    <div>
        <p>logo</p>
        <img src="{{ logo_location }}" alt="">
    </div>

    <div>
        <h2>마이페이지</h2>
        <div>
            <img src="" alt="">
            <p>이름</p>
            <p>{{ name }}</p>
        </div>
    </div>

    <div>
        <h2>게시글</h2>
        <p>
            {% for content in contents %}
        <p>{{ content }}</p>
        {% end for %}
        </p>
        <img src="{{ url_for('static', filename='western.jpg') }}" alt="">
    </div>

</body>

</html>
