{% extends 'base.html' %}
{% block content %}
<p>제목</p>
<div>
    <p>카테고리</p>
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">한식</option>
        <option value="2">일식</option>
        <option value="3">양식</option>
        <option value="4">중식</option>
    </select>
</div>

<p>대표이미지</p>
<div class="mb-3">
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control" type="file" id="formFile">
</div>

<div>
    <p>내용</p>

</div>
{% endblock %}
